<header id="header">
    <a asp-area="" asp-action="Index" asp-controller="Home" class="logo"> Ветеринарная клиника <strong>4 лапы</strong></a>
    <ul class="icons">
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
    </ul>
</header>